<footer>
    <div class="footer">
        <svg class="waves2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax2">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7)" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="t mb-4">
                    <h2 class="">Floor</h2>
                    <p class="m-2">Search to the any corner of the world, without going around in circles</p>
                    <ul class="list-unstyled d-flex mt-3">
                        <li class="m-2"><a href="#" class="mr-2 text-white"><i class="fab fas fa-envelope"></i></a></li>
                        <li class="m-2"><a href="#"><i class="fab fa-linkedin-in text-white "></i></a></li>
                        <li class="m-2"><a href="#"><i class="fab fa-instagram text-white"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="mb-4 ml-md-4">
                    <h2>Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="#col1" class="m-2 text-white"><i class="fas fa-arrow-right"></i> Home</a></li>
                        <li><a href="#col2" class="m-2 text-white"><i class="fas fa-arrow-right"></i> About</a></li>
                        <li><a href="#col3" class="m-2 text-white"><i class="fas fa-arrow-right"></i> RentaProperty</a></li>
                        <li><a href="#col4" class="m-2 text-white"><i class="fas fa-arrow-right"></i> Post Your Property</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="mb-4">
                    <h2>Have a Questions?</h2>
                    <div class="mb-3">
                        <ul class="list-unstyled">
                            <li><i class="fas fa-map-marker-alt m-2 text-white"></i><span class="text m-2">203 crosscut road. Salem, TN, India</span></li>
                            <li><a href="#"><i class="fas fa-phone m-2 text-white"></i><span class="text-white m-2">+91 12345 54321</span></a></li>
                            <li><a href="#"><i class="fas fa-envelope m-2 text-white"></i><span class="text-white m-2">xyz@gmail.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mt-4 mb-5">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved
                </p>
            </div>
        </div>
    </div>
</footer>