@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using Floor.Utility

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Floor</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/offcanvas-navbar/">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top bg-white" aria-label="Main navigation">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Floor</a>
                <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                    <span>MENU</span>
                </button>

                <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="RentalPro" asp-action="Index">House's</a>
                        </li>
                        <li class="nav-item">
                            @if (HttpContextAccessor.HttpContext.Session.Get<List<RentalProSave>>(WC.SessionSave) != null)
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Save" asp-action="Index">
                                    @{
                                        var count = HttpContextAccessor.HttpContext.Session.Get<List<RentalProSave>>(WC.SessionSave).Count;
                                    }
                                    <i class="fas fa-heart"></i> &nbsp;(@count)
                                </a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Save" asp-action="Index">
                                    <i class="fas fa-heart"></i> &nbsp;(0)
                                </a>
                            }
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div>
        <partial name="_Notifications" />
        @RenderBody()
    </div>

    <partial name="_Footer" />

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
