@page
@model LoginModel

<div class="flex2 text-center mt-6 pb-0">

    <main class="form-signin">
        <div class="footer">
            <svg class="waves3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#009dff" opacity=".7" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#00b4ff" opacity=".5"/>
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#00c8ff" opacity=".3"/>
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#0cd8f1" opacity=".1"/>
                </g>
            </svg>
        </div>
        <form id="account" method="post">
            <h1 class="h3 text-white">Log in</h1>
            <p class="mb-3 text-dark">
                If you already has an account, just sign in. We've missed you!
            </p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-4">
                <input asp-for="Input.Email" class="form-control accept-policy bg-transparent ps-1 mt-4" id="floatingInput" placeholder="name@example.com">
                <label asp-for="Input.Email" class="ps-0"></label>
                <span asp-validation-for="Input.Email" class="text-danger float-start"></span>
            </div>
            <div class="form-floating mb-4">
                <input asp-for="Input.Password" class="form-control bg-transparent ps-1" id="floatingInput" placeholder="Password">
                <label asp-for="Input.Password" class="ps-0"></label>
                <span asp-validation-for="Input.Password" class="text-danger float-start"></span>
            </div>
            <div class="form-group float-start mb-3">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <button class="w-100 btn btn-lg btn-success mb-3 rounded-0" type="submit">Log in</button>
            <p>or</p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-primary w-100 btn-lg mb-3 rounded-0">Register as a new user</a>
        </form>
    </main>

    </div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
