@model IEnumerable<Booking>

<div class="container mt-6">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active">Booking's</li>
        </ol>
    </nav>
    <div class="row">
        @if (Model.Count() == 0)
        {
            <div class=" col-12 heading-section text-center">
                <div class="mt-5">
                    <span class="subheading text-info">Opps...</span>
                    <h2 class="mb-4">There is no booking's...</h2>
                </div>
            </div>
                            <div class="col-12 heading-section text-center mb-5">
                                <a asp-controller="RentalPro" asp-action="Index" class="text-success">search rental property <i class="fas fa-angle-double-right"></i></a>
                            </div>
                        }
                        else
                        {
                            <div class=" col-12 heading-section text-center">
                                <div class="mt-3 mb-5">
                                    <span class="subheading text-info">Your</span>
                                    <h2 class="mb-4">Bookings list's</h2>
                                </div>
                            </div>
                            <div class="col-12">
                                <hr />
                                <div class="row text-center">
                                    <div class="col-4">
                                        <h3 class="text-info">Property Id</h3>
                                    </div>
                                    <div class="col-4">
                                        <h3 class="text-info">Booking Status</h3>
                                    </div>
                                    <div class="col-4">
                                        <h3 class="text-info"></h3>
                                    </div>
                                </div>
                                <hr />
                                @foreach (var obj in Model)
                                {
                                    <div class="row text-center">
                                        <div class="col-4">
                                            <a class="btn btn-info w-50" asp-route-id="@obj.PropertyId" asp-controller="RentalPro" asp-action="Details">@obj.PropertyId</a>
                                        </div>
                                        <div class="col-4">
                                            <span>@obj.Status</span>
                                            @if (obj.Status == "Pending")
                                            {
                                                <div class="spinner-border" role="status">
                                                </div>
                                            }
                                        </div>
                                        <div class="col-4">
                                            @if (obj.Status == "Accepted")
                                            {
                                                <p class="btn btn-success w-100 disabled mb-0">Have a new begining</p>
                                            }
                                            else if (obj.Status == "Rejected")
                                            {
                                                <p class="btn btn-warning w-100 disabled mb-0">Rejected</p>
                                            }
                                            else
                                            {
                                                <a class="btn btn-danger w-100 mb-0" asp-route-id="@obj.Id" asp-controller="Booking" asp-action="Delete">Cancel</a>
                                            }
                                        </div>
                                    </div>
                                    <hr />
                                }
                            </div>
                            <div class="col-12 text-center m-3">
                                <a asp-controller="RentalPro" asp-action="Index2">
                                    Search more property <i class="fas fa-angle-double-right"></i>
                                </a>
                            </div>
                        }
    </div>
</div>